<!-- DESIGN DU CONTENU DE DE PAGE CONNEXION  -->

<div class="container-fluid container-connexion-global">
  <div class="left-block">
    <div class="image-left-carried">
      <img src="assets/images/acceuil/right_image_left.svg">
    </div>
  </div>
  <div class="main-block">
    <form [formGroup]="clientForm" (ngSubmit)="ajoutterUtilisateur(clientForm.value)">
      <div class="container-connexion">
        <div class="title-box-connexion">Inscription</div>
        <div class="input-box-connexion">
          <div class="input-data">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">@</div>
                </div>
                <input formControlName="email" type="email" class="form-control" id="email" name="email"
                  placeholder="email*">
              </div>
              <div *ngIf="isButtonConnectClicked && !isEmailGood" class="error-input"> {{errorMessage}}</div>
            </div>
          </div>
          <div class="input-data">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <img src="assets/images/inscription/phone.svg">
                  </div>
                </div>
                <input formControlName="telephone" type="text" class="form-control" id="telephone"
                  placeholder="téléphone*">
              </div>
              <div *ngIf="isButtonConnectClicked && !isPhoneGood" class="error-input"> {{errorMessage}}</div>

            </div>
          </div>
          <div class="input-data">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <img src="assets/images/acceuil/cardenard.svg">
                  </div>
                </div>
                <input formControlName="password" name="password" type="password" class="form-control" id="password"
                  placeholder="mot de passe*">
              </div>
              <div *ngIf="isButtonConnectClicked && !isPaswordGood" class="error-input"> {{errorMessage}}</div>

            </div>
          </div>
          <div class="input-data">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <img src="assets/images/inscription/prenom.svg">
                  </div>
                </div>
                <input formControlName="nom" name="nom" type="text" class="form-control" id="nom" placeholder="Prénom">
              </div>
            </div>
          </div>
        </div>
        <div class="forgotten-password">
          <div class="form-check">
            <input value="true" name="accepted" type="checkbox" class="form-check-input" id="accepted">
            <label class="form-check-label" for="accepted">J'ai lu et j'accepte les conditions d'utilisations de
              beauteadoom</label>
          </div>
        </div>
        <button type="submit" class="connexion-button">S'INSCRIRE</button>
        <div class="or-box">
          <div class="box-content">Ou</div>
        </div>
        <div class="connect-with-text">Se connecter avec</div>
        <button class="facebook-button">
          <img src="assets/images/acceuil/facebook.svg">FACEBOOK</button>
        <div class="inscription-invitation">
          Vous avez déjà un compte ? <span><a routerLink="../connexion-compte">Se Connecter</a></span>
        </div>
      </div>
    </form>
  </div>
  <div class="right-block">
    <div class="image-left-carried">
      <img src="assets/images/acceuil/left_image_right.svg">
    </div>
  </div>
</div>

<!-- FIN DESIGN DU CONTENU DE DE PAGE CONNEXION  -->


