$background_main_color_app : #FF3E79;
$normal_background_app : white;
$color_script_app: #FFFFFF;
$color_scripture: #54514c;
$color_border: #77747128;
$breakpoint-tablet: 768px;


.container-connexion-global {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  min-height: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  //background: url('../../assets/images/acceuil/la_bar.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-y: 93%;

  .left-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10%;
    width: 30%;

    .image-left-carried {
      img {}
    }
  }

  .main-block {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container-connexion {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 29em;
      min-height: 4em;
      border: 1px solid $color_border;
      border-radius: 7px;
      padding: 3.5%;
      background-color: white;
      box-shadow: 3px 3px 4px #96949452;

      .title-box-connexion {
        padding-top: 1%;
        padding-bottom: 1.5%;
        color: $background_main_color_app;
        font-size: 1.4em;
        font-weight: 700;
        width: 100%;
        text-align: center;
      }

      .input-box-connexion {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 2%;

        .input-data {
          width: 100%;
          border-radius: 5px;
          margin-bottom: 2%;
          min-height: 3em;

          .form-group {
            .error-input {
              font-size: .8em;
              color: $background_main_color_app;
            }

            .input-group {
              .input-group-prepend {
                .input-group-text {
                  border-bottom-right-radius: 0;
                  border-top-right-radius: 0;
                  border-right: none;
                  background: #e8f0fe;
                  /* background: red; */
                  width: 3EM;
                  height: 100%;
                }
              }

              input {
                border-left: none;
              }
            }
          }
        }
      }

      .forgotten-password {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: $color_scripture;
        font-size: .75em;
        padding-left: 1.5%;

        .form-check {
          label {
            text-align: center;
          }
        }
      }

      .connexion-button {
        margin-top: 3%;
        border: none;
        background: $background_main_color_app;
        color: white;
        border-radius: 5px;
        width: 100%;
        height: 2.5em;
      }

      .or-box {
        width: 100%;
        height: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid $color_border;
        color: #54514C;
        position: relative;

        .box-content {
          position: absolute;
          bottom: -.9em;
          right: 46%;
          border-radius: 50%;
          height: 2em;
          width: 2em;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: white;
        }
      }

      .connect-with-text {
        width: 100%;
        height: 4em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #54514C;
        font-size: .7em;
      }

      .facebook-button {
        border: none;
        background: #2D88FF;
        color: white;
        border-radius: 5px;
        width: 100%;
        height: 2.5em;
        margin-bottom: 3%;

        img {
          height: 1.1em;
          margin-right: 1%;
        }
      }

      .inscription-invitation {
        width: 100%;
        height: 3em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #54514C;

        span {
          text-decoration: underline;
          color: $background_main_color_app;

          a {
            color: $background_main_color_app;
            cursor: pointer;
          }
        }
      }
    }
  }

  .right-block {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5%;
    width: 30%;
  }
}

@media (max-width:$breakpoint-tablet) {
  .container-connexion-global {
    background: unset;
    margin-top: 8%;
    margin-bottom: 10%;

    .left-block,
    .right-block {
      display: none;
    }

    .main-block {
      width: 100%;

      form {
        width: 100%;

        .container-connexion {
          width: 100%;
          box-shadow: initial;
        }
      }
    }
  }
}
