
<!-- Cette partie est la partie de la Navigation en Haut de la page , la responsivité y est gérer et aussi -->
<nav class="navbar  navbar-expand-lg set-background-app" id="set-background-app-tablet">
    <div class="container-fluid" id="custum-navbar-contain">
      <a class="navbar-brand set-default-font-color" href="#" id="tablet-img-logo">
        <img src="assets/images/logo-inv.svg" alt="">
      </a>
      <a class="navbar-brand set-default-font-color" href="#" id="normal-img-logo">
        <img src="assets/images/logo-big.svg" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" *ngIf="IsNotDeployed"
        (click)="changeButtonMenu(1)">
        <span class="navbar-toggler-icon"></span>
      </button>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" id="button-when-deployed"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation" *ngIf="!IsNotDeployed" (click)="changeButtonMenu(2)">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="connected-button" (click)="redirectTo('connexion-compte')" *ngIf="!authServ.isUserConnected">
        Se Connecter
      </div>
      <ng-container *ngIf="authServ.isUserConnected">
        <div class="dropdown dropdown-menu-custum" (click)="open(myAccountModal)">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img src="assets/images/acceuil/account.svg" style="margin-right: 1em;">{{authServ.userData.displayName}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </ng-container>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-navbar-content-to-right" id="set-custum-tablet-dropdown">
          <li class="nav-item">
            <a class="nav-link  set-default-font-color active" aria-current="page" href="#">
              <img src="assets/images/new_coiffeuse.svg">DEVENIR COIFFEUSE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link set-default-font-color" href="#">
              <img src="assets/images/candy-shop.svg">BOUTIQUE
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link  set-default-font-color" aria-current="page" href="#">
              <img src="assets/images/coiffures.svg">NOS COIFFURES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  set-default-font-color" aria-current="page" href="#">
              <img src="assets/images/localisation.svg">OU NOUS TROUVER ?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  set-default-font-color" aria-current="page" href="#">
              <img src="assets/images/help.svg">BESOIN D'AIDE ?</a>
          </li>
          <li class="nav-item" *ngIf="!IsNotDeployed && !authServ.userData">
            <a class="nav-link set-activate-color" aria-current="page" href="#" routerLink="../connexion-compte">
              <img src="assets/images/logout.svg">SE CONNECTER </a>
          </li>
          <li class="nav-item" *ngIf="!IsNotDeployed && authServ.userData">
            <a class="nav-link set-activate-color" aria-current="page" href="#" (click)="seDeconnecter()">
              <img src="assets/images/logout.svg">SE DECONNECTER </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- FIN DESIGN DE LA NAVBAR   -->


<!-- CONSTRUCTION MODAL CONNECTION -->
<ng-template #myAccountModal let-modal id="modal-custum">
    <div class="modal-body">
      <div class="menu-item-modal">
        <div class="img-carried">
          <img src="assets/images/script.svg">
        </div>
        <div class="menu-text">Mon historique</div>
      </div>
      <div class="menu-item-modal">
        <div class="img-carried">
          <img src="assets/images/chatting.svg">
        </div>
        <div class="menu-text">Mes messages</div>
      </div>
      <div class="menu-item-modal">
        <div class="img-carried">
          <img src="assets/images/chatting.svg">
        </div>
        <div class="menu-text">Inviter des amis</div>
      </div>
      <div class="menu-item-modal">
        <div class="img-carried">
          <img src="assets/images/settings.svg">
        </div>
        <div class="menu-text">Parametres</div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="menu-item-modal" (click)="seDeconnecter()">
        <div class="img-carried">
          <img src="assets/images/logout1.svg">
        </div>
        <div class="menu-text">Se Deconntecter</div>
      </div>
    </div>
</ng-template>
<!-- FIN CONSTRUCTION MODAL CONNECTION -->