
<!-- DESIGN DU CONTENU DE DE PAGE CONNEXION  -->
<div class="container-fluid container-connexion-global">
  <div class="left-block">
    <div class="image-left-carried">
      <img src="assets/images/acceuil/right_image_left.svg">
    </div>
  </div>
  <div class="main-block">
    <form [formGroup]="connectForm" (ngSubmit)="SeConnecter(connectForm.value)">
    <div class="container-connexion">
      <div class="title-box-connexion">Connexion</div>
        <div class="input-box-connexion">
          <div class="input-data">
            <div class="form-group">
              <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                  </div>
                  <input formControlName="email" type="text" class="form-control" id="email" name="email" placeholder="Username" required>
              </div>
              <div *ngIf="!isEmailGood && isConnectButtonClicked" class="error-input"> {{errorEmailMessage}}</div>
            </div>
          </div>
          <div class="input-data">
            <div class="form-group">
              <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                        <img src="assets/images/acceuil/cardenard.svg">
                    </div>
                  </div>
                  <input formControlName="password" type="password" class="form-control" id="password" name="password" placeholder="mot de passe*" required>
                </div>
                <div *ngIf="!ispasswordGood && isConnectButtonClicked" class="error-input"> {{errorPasswordMessage}}</div>
              </div>
          </div>
        </div>
     
      <div class="forgotten-password">Mot de passe oublié </div>
      <button type="submit" class="connexion-button">SE CONNECTER</button>
      <div class="or-box">
        <div class="box-content">Ou</div>
      </div>
      <div class="connect-with-text">Se connecter avec</div>
      <button class="facebook-button">
        <img src="assets/images/acceuil/facebook.svg">FACEBOOK</button>
      <div class="inscription-invitation">
        Vous n'avez pas encore de compte ? <span><a routerLink="../inscription">S'inscrire</a></span>
      </div>
    </div>
  </form>
  </div>
  <div class="right-block">
    <div class="image-left-carried">
      <img src="assets/images/acceuil/left_image_right.svg">
    </div>
  </div>
</div>
<!-- FIN DESIGN DU CONTENU DE DE PAGE CONNEXION  -->
