<div class="container-fluid" id="appear-only-ontablet">
  <div class="row set-background-app set-min-row"></div>
</div>

<!-- DEBUT IMPLEMENTATION DU HEADER DANS SON COMPONENT 
     C'EST UN COMPOSANT PARTAGER LE RETROUVER DANS LE DOSSIER SHARED -->
<app-header></app-header>
<!-- FIN  IMPLEMENTATION DU HEADER DANS SON COMPONENT -->

<!-- DESIGN DU SEPARATEUR DE PAGE EN ECRAN GRAND FORMAT  -->
<div class="container-fluid separateur-container">
  <div class="separator-row"></div>
</div>
<!-- FIN DESIGN DU SEPARATEUR DE PAGE EN ECRAN GRAND FORMAT  -->

<!-- Contenu du Render iCi la -->
<router-outlet></router-outlet>
<!-- FIN Contenu du Render iCi la -->


<app-footer></app-footer>

