.dropdown-menu-custum {
    position: absolute;
    right: 6%;
    top: 0;
}
.btn-secondary.dropdown-toggle {
    background-color: white;
    border: #FF379F;
    color: #FF379F;
}

.modal-content {
    position: absolute;
    left: 118%;
}

#modal-custum {
    background: red;
}