
$breakpoint-tablet: 768px;

@media (max-width: $breakpoint-tablet) {
  .client-card {
    zoom: .95;
  }
}

.client-card {
    width: 23em;
    background: white;
    height: 10.5em;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1em;
    margin-right: .5%;
    

    .info-picture {
      width: 33%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .block-image {
        width: 90%;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .block-name {
        padding-top: 2%;
        font-size: 13px;
        color: #54514C;
        font-weight: bold;
      }

      .block-stars {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;

        img {
          height: 1em;
        }
      }

    }

    .info-qualite {
      width: 67%;
      height: 100%;
      padding-left: 1%;
      padding-top: 4%;
      color: #54514C;
      font-size: .85em;
    }

    .info-date {
      position: absolute;
      bottom: 1em;
      right: 2em;
      font-size: .7em;
      color: #313131;
    }
  }