<div class="client-card">
    <div class="info-picture">
      <div class="block-image">
        <img src="assets/images/carte-visite.svg" alt="carte" />
      </div>
      <div class="block-name">Nadia</div>
      <div class="block-stars">
        <img src="assets/images/start_new.svg" alt="stars">
        <img src="assets/images/start_new.svg" alt="stars">
        <img src="assets/images/start_new.svg" alt="stars">
        <img src="assets/images/start_new.svg" alt="stars">
        <img src="assets/images/start_new.svg" alt="stars">
      </div>
    </div>
    <div class="info-qualite">
      Tres gentil travail professionel
      le lorem qui monte et qui refuse la plupart du temps
      de descendre
    </div>
    <div class="info-date">10 Septembre 2020</div>
  </div>