/* You can add global styles to this file, and also import other style files */


$background_main_color_app : #FF3E79;
$normal_background_app : white;
$color_script_app: #FFFFFF;
$color_scripture: #54514C;

$breakpoint-tablet: 768px;

@import '~ngx-toastr/toastr.css';

/***** ***/

body {
  // font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}




@media (max-width: $breakpoint-tablet) {
  .modal {
    
  }
}


.modal-dialog {
  position: absolute;
  right: 5%;
  width: 19em;
  top: 4%;
  .modal-body {
    .menu-item-modal {
      cursor: pointer;
      height: 3em;
      justify-content: flex-start;
      flex-wrap: row;
      align-items: center;
      display: flex;
      margin-bottom: 1%;
      padding-left: 15%;
  
      .img-carried {
        height: 100%;
        width: 3em;
        overflow: hidden;
        padding: 4%;
  
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  
}




.set-background-app {
  background: $background_main_color_app;
}

.set-default-font-color {
  color: $color_script_app;
}

.set-activate-color {
  color: $background_main_color_app;
  width: 79%;
}

.set-min-row {
  min-height: 1em;
}





/***** *****/

/***** DESIGN DU SEPARATEUR ****/
.separateur-container {
  padding: 0;

  .separator-row {
    width: 100%;
    height: 3em;
    border-bottom: 5px solid $background_main_color_app;
  }
}

@media (max-width:$breakpoint-tablet) {
  .separateur-container {
    display: none;

    .separator-row {
      display: none;
    }
  }

}

/***** FIN  DESIGN DU SEPARATEUR ****/



/***** DESIGN DE LA PREMIERE LIGNE DE LA PAGE ELLE CONTIENT L'IMAGE ET LE MOT DE BIENVENU ****/
.right-box-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 1%;

  .container-box-information {
    background: $background_main_color_app;
    padding-top: 7%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
    width: 26em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 26em;

    .container-form-info {
      background: $normal_background_app;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .title-tab-box {
        width: 100%;
        height: 2.7em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .title-tab {
          width: 48%;
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: flex-end;
          font-size: 0.75em;
          color: #BDBDBD;
          cursor: pointer;
        }

        #active {
          color: $background_main_color_app;
          border-bottom: 2px solid $background_main_color_app;
          font-weight: bold;
          padding-bottom: 1%;
        }
      }

      .content-coiffure-discover {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 2%;

        .present-coiffure {
          width: 135px;
          height: 150px;
          margin-bottom: 1px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .image-coiffure {
            width: 125px;
            height: 125px;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .title-coiffure {
            width: 100%;
            font-size: 13px;
            color: #BDBDBD;
          }
        }
      }

      .content-input-search {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-left: 2%;
        padding-right: 2%;
        height: 87%;
        margin-top: 1%;

        .content-input-form {
          width: 95%;
          height: 4em;
          margin-bottom: 3%;
          border: 1px solid #8C8C8C;
          border-radius: 10px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          &:hover {
            border: 1px solid $background_main_color_app;
          }

          .box-image-icon {
            height: 100%;
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
              width: 1.8em;
            }
          }

          .box-text-choice {
            height: 100%;
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            color: #8C8C8C;
            font-size: 1.2em;
          }

          .box-icon-chevron {
            height: 100%;
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
              width: 1.3em;
            }
          }
        }
      }
    }

    button {
      margin-top: 3%;
      width: 84%;
      height: 3.5em;
      border-radius: 10px;
      border: none;
      color: $background_main_color_app;
      background: $color_script_app;
      font-weight: bold;
    }
  }
}

.container-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.set-welcome-text {
  padding-top: 10%;
  padding-left: 10%;

  .container-text-welcome {
    color: $background_main_color_app;
    font-size: 1.3em;
    font-weight: bold;
    width: 20em;

  }
}

@media (max-width: $breakpoint-tablet) {
  .container-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .set-welcome-text {
    position: absolute;
    top: 50%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container-text-welcome {
      color: $background_main_color_app;
      font-size: 1em;
      font-weight: bold;
      text-align: center;
      width: 68%;
    }
  }

  .right-box-main {
    width: 100%;
    align-items: center;

    .container-box-information {
      width: 100%;
      min-height: 10em;
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .right-box-main {
    align-items: center;
    .container-box-information {
      width: 100%;
    }
  }

  .set-welcome-text {
    position: absolute;
    bottom: 35%;
    z-index: 2;
    padding-left: 7%;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .right-box-main {
    .container-box-information {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .right-box-main {
    .container-box-information {
      width: 100%;
    }
  }
}

/***** FIN DESIGN DE LA PREMIERE LIGNE DE LA PAGE ELLE CONTIENT L'IMAGE ET LE MOT DE BIENVENU ****/

/***** DESIGN DE PRESENTATION DU CAROUSSEL ****/

.container-caroussel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background_main_color_app;
  padding-bottom: .5em;

  .title-block-big {
    text-align: center;
    padding-top: 1em;
    font-size: 1.3em;
    color: $normal_background_app;
  }

  .container-caroussel-sep {
    width: 96%;
    height: 15em;
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .container-caroussel-sep::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: $breakpoint-tablet) {
  .container-caroussel {
    margin-top: 1.5em;

    .title-block-big {
      font-size: 1.1em;
    }
  }
}

/***** FIN DESIGN DE PRESENTATION DU CAROUSSEL ****/

/***** DESIGN DES SERVICES  ************/
.container-present-service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .button-transform {
    margin-top: 1%;
    width: 18em;
    height: 2em;
    border: none;
    background: $background_main_color_app;
    color: $normal_background_app;
    border-radius: 7px;
  }

  .title-box-present {
    width: 100%;
    text-align: center;
    padding-top: 1%;
    color: $background_main_color_app;
    font-size: 1.2em;
    font-weight: bolder;
    padding-bottom: 2%;

  }
}


.service-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 0;
  padding-left: 0;

  .block-image {
    display: flex;
    flex-direction: row;

    img {
      width: 3em;
      margin-right: 2em;
    }
  }

  .information-content {
    padding-top: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .title-info {
      width: 100%;
      color: #54514C;
      font-weight: 700;
      font-size: 1.3em;
      text-align: center;
      padding-bottom: .5em;
    }

    .description-info {
      width: 75%;
      text-align: center;
      font-size: .9em;
      color: #54514C;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .service-card {
    margin-top: 5%;
  }

  .button-transform {
    margin-top: 5%;
  }

  .container-present-service {
    .title-box-present {
      padding-top: 10%;
      padding-bottom: 10%;
    }
  }
}

/***** FIN DESIGN DES SERVICES  ************/


/***** FIN DESIGN DES ORIENTATIONS  ************/
.orientation-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 0;
  padding-left: 0;

  .block-numero-tation {
    width: 100%;
    height: 3em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .line {
      width: 100%;
      border-bottom: 1px solid #54514C;
    }

    .numerotation {
      position: absolute;
      height: 2em;
      width: 2em;
      border-radius: 50%;
      border: 4px solid #FF3E79;
      top: 2px;
      left: calc(50% - 1em);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #FF3E79;
      background-color: white;
      font-size: 1.3em;
      font-weight: bolder;
    }
  }

  .information-content {
    padding-top: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .title-info {
      width: 100%;
      color: #54514C;
      font-weight: 700;
      font-size: 1.3em;
      text-align: center;
      padding-bottom: .5em;
    }

    .description-info {
      width: 75%;
      text-align: center;
      font-size: 0.9em;
      color: #54514C;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .orientation-card {

    .block-numero-tation {


      .line {

        border-bottom: 1px solid transparent;
      }
    }
  }

  .stretching-container {
    padding-top: 5%;
  }
}

/***** FIN DESIGN DES ORIENTATIONS  ************/
@media (max-width: $breakpoint-tablet) {
  .container-town-sep {
    justify-content: flex-start;
  }
}




.container-town-sep {
  width: 96%;
  height: 17em;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;

  .town-picture-box {
    width: 15em;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.108);
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1%;
    position: relative;

    .town-button {
      position: absolute;
      top: 36%;
      left: 14%;
      width: 11em;
      height: 2.5em;
      border-radius: 7px;
      background-color: white;
      border: 2px solid $background_main_color_app;
      color: $background_main_color_app;
    }

    .picture-box {
      height: 15em;
      width: 100%;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .title-picture {
      height: 2em;
      color: #54514C;
      width: 100%;
      text-align: left;
      padding-left: 1%;
      padding-top: 1%;
      font-size: .9em;
    }

  }
}

/***** DEBUT DESIGN DES BUBLICITES   ************/
.illustration-image {
  position: relative;
  margin-top: 10%;
  width: 100%;
  padding: 1em;
  max-width: 29em;
  max-height: 29em;

  img {
    width: 100%;
    object-fit: contain;
  }

  .telechargement-box {
    position: absolute;
    width: 21em;
    height: 3em;
    color: white;
    left: 35%;
    top: -3%;
    background: #FF3E79;
    filter: drop-shadow(1px 5px 3px rgba(0, 0, 0, 0.329));
    transform: rotate(14deg);
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9em;

    .cercle-decoratif {
      position: absolute;
      right: -14%;
      height: 4em;
      width: 4em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* border: 0px solid rgba(0, 0, 0, 0.116); */
      border-radius: 50%;
      background: white;
      padding: 3%;
      filter: drop-shadow(1px 3px 1px rgba(0, 0, 0, 0.229));
    }
  }
}



.center-right-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    width: 60%;
    color: $background_main_color_app;
    font-size: 1.8em;
    font-weight: 400;
    line-height: 1.3;
    margin-left: 20%;
  }

  .customize-button {
    width: 18em;
    border: none;
    background: #FF3E79;
    border-radius: 7px;
    text-align: center;
    margin-top: 4%;
    margin-left: 14%;
  }

}

.center-left-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 1em;
}

@media (max-width: $breakpoint-tablet) {
  .center-right-col {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: .7em;
    text-align: center;

    p {
      margin-left: initial;
      line-height: 1.6;
      width: 70%;
    }

    .customize-button {
      margin-left: initial;
    }
  }

  .illustration-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .telechargement-box {
      transform: rotate(0deg);
      width: 92%;
      position: initial;
      margin-right: 8%;
      text-align: left;
      font-size: .8em;
      line-height: 1.5;
      padding-left: 3%;
    }
  }
}

/***** FIN DESIGN DES BUBLICITES   ************/

/***** DEIGN BEGOODIES SHOOPING ************/

.background-down {
  background-image: url("./assets/images/nouvelpartie.svg");
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: contain;
}

.information-sep-sep {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 8%;
  min-height: 13em;
  margin-top: 4%;

  .super-texte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      width: 50%;
      color: #FF3E79;
      font-size: 1.8em;
      font-weight: 400;
      line-height: 1.3;
      margin-left: 20%;
    }
  }

  .customize-button {
    width: 18em;
    border: none;
    background: #FF3E79;
    border-radius: 7px;
    text-align: center;
    margin-top: 1%;
    margin-left: 5%;
    color: white;
    height: 2.5em;
  }
}

@media (max-width: $breakpoint-tablet) {
  .background-down {
    background-position: bottom;
  }

  .information-sep-sep {
    height: 20em;
    justify-content: flex-start;

    .super-texte {
      p {
        width: 70%;
        color: #FF3E79;
        font-size: 1.3em;
        font-weight: 400;
        line-height: 1.3;
        padding: 1%;
      }
    }
  }
}

/***** fin DEIGN BEGOODIES SHOOPING ************/


