
.container-caroussel-sep {
    .card-visit-left {
        display: flex;
        justify-content: flex-end;
    }
    .card-visit-center {
        display: flex;
        justify-content: center;
    }
    .card-visit-right {
        display: flex;
        justify-content: flex-start;
    }
}