/*****  DESIGN BEGOODIES FOOTER ************/
$background_main_color_app : #FF3E79;
$normal_background_app : white;
$color_script_app: #FFFFFF;
$color_scripture: #54514C;

$breakpoint-tablet: 768px;

.espace-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    padding: 4%;
    margin-bottom: 10px;
  
    .block-left {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      padding-right: 6%;
    }
  
    .block-right {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      .align-to-right {
        .block-down-title {
          font-size: 1.6em;
          color: white;
          font-weight: 500;
          width: 13em;
          margin-bottom: 10%;
        }
  
        .image-block-down {
          margin-top: 10%;
  
          img {
            width: 45%;
            margin-right: 3%;
            cursor: pointer;
          }
        }
      }
    }
  }
  
  @media (max-width: $breakpoint-tablet) {
    .espace-footer {
      flex-direction: column;
      width: 100%;
      position: relative;
      height: 36em;
      justify-content: flex-start;
  
      .block-left {
        width: 100%;
        position: absolute;
        bottom: 5%;
        padding-right: 0;
        align-items: center;
        text-align: center;
        right: 0%;
  
        .carried-image {
          img {
            width: 14em;
          }
        }
      }
  
      .block-right {
        width: 81%;
  
        .align-to-right {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
  
          .block-down-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
          }
  
          .image-block-down {
            width: 50%;
            margin-top: -1%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
  
            img {
              width: 100%;
              margin-bottom: 4%
            }
          }
        }
      }
    }
  }
  
  /*****  FIN DEIGN BEGOODIES FOOTER ************/
  
  /*****   DEIGN BEGOODIES FOOTER 2 ************/
  
  .footer-down {
    .middle-row {
      padding-left: 7%;
    }
  
    .contener-justifiyer {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding-left: 2%;
  
      .discover-biggodee {
        font-size: 1.3em;
        color: white;
        width: 65%;
      }
    }
  
    .title-block-footer-2 {
      margin-top: 7%;
      font-size: 1.6em;
      color: white;
      font-weight: bold;
      margin-bottom: 3%;
    }
  
    .block-question {
      p {
        color: white;
        line-height: 1;
        font-size: 1em;
      }
    }
  
    .title-block-footer {
      margin-top: 15%;
      font-size: 1.6em;
      color: white;
      font-weight: bold;
      margin-bottom: 8%;
    }
  
    .block-image {
      display: flex;
      flex-direction: row;
  
      img {
        width: 3em;
        margin-right: 2em;
      }
    }
  
    .general-background {
      .copyright {
        text-align: center;
        color: white;
        font-size: .7em;
      }
    }
  }
  
  @media (max-width: $breakpoint-tablet) {
  
    .footer-down {
      .logo-biggodee {
        display: none;
      }
  
      .middle-row {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
  
        .title-block-footer-2 {
          margin-top: 0;
        }
      }
  
      .last-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 4%;
      }
  
      .contener-justifiyer {
        padding-top: 3%;
  
        .discover-biggodee {
          width: 83%;
          text-align: center;
          font-size: 1.1em;
        }
      }
  
      .block-question {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
        p {}
      }
  
      .title-block-footer {
        margin-top: 0;
        margin-bottom: 2%;
      }
  
      .block-image {
        img {
          margin-right: 1%;
        }
      }
    }
  }
  
  /*****   FIN DESIGN BEGOODIES FOOTER 2 ************/