<!--  DESIGN FOOTER PREFOOT -->
<div class="container-fluid set-background-app espace-footer">
    <div class="block-left">
      <div class="carried-image">
        <img src="assets/images/icon-begoodee-telephone.svg">
      </div>
    </div>
    <div class="block-right">
      <div class="align-to-right">
        <div class="block-down-title">
          Télécharger dès à present notre application mobile
        </div>
        <div class="image-block-down">
          <img src="assets/images/apple-store.svg">
          <img src="assets/images/google-play.svg">
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid set-background-app footer-down">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4 contener-justifiyer">
        <div class="logo-biggodee">
          <img src="assets/images/logo-big.svg">
        </div>
        <div class="discover-biggodee">
          <p><strong>Decouvrez</strong> et <strong>reservez</strong> la coiffeuse qui vous correspond, en quelques clics
            !!! </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 middle-row">
        <div class="title-block-footer-2">
          Qui Sommes nous ?
        </div>
        <div class="block-question">
          <p>FAQ</p>
          <p>CGU</p>
          <p>Guide de coiffures des BFC</p>
          <p>Mentions légales</p>
          <p>qui sommes nous?</p>
          <p>Nous Contactez </p>
          <p>Plan du site !!! </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 last-row">
        <div class="title-block-footer">
          Rejoins-nous
        </div>
        <div class="block-image">
          <img src="assets/images/facebook-logo.svg" alt="facebook-logo">
          <img src="assets/images/instagram.svg" alt="instagram-logo">
        </div>
      </div>
    </div>
    <div class="row general-background">
      <div class="copyright">&copy;Bigoodee 2021 Tous Droits Reservés</div>
    </div>
  </div>
  
  <!--  FIN DESIGN FOOTER PREFOOT -->